body {
    background-image: url("https://png.pngtree.com/background/20210717/original/pngtree-wallpaper-aesthetic-purple-watercolor-picture-image_1438628.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}